.nav {
  background-color: rgb(0, 217, 225);
}

.nav .menuList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.menuList a {
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
}
